*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
}

nav ul li{
    padding: 0 12px;
}

nav ul{
    display: flex;
    background-color: black;
    color: red;
    list-style-type: none;
    align-items: center;
    height: 65px;
}

marquee{
    color: white;
    font-weight: bold;
}

.brand img{
   width: 65px;
}

.brand{
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    min-height: 75vh;
    color: white;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
}

.bottom{
    position: sticky;
    height: fit-content;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 2% 6.5%;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.bottom .icons i{
    font-size: 25px;
}

.bottom .icons i:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
}

.main{
    display: flex;
    justify-content: space-between;
}

.songList{
    width: 60vw;
    padding: 40px 40px;
    overflow-y: scroll;
}

.main .songBanner{
    justify-items: center;
    text-align: center;
}

.main .songBanner img{
    border-radius: 2000px;
    width: 40vw;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: red;
    border: 2px solid white;
    width: 80%;
    color: white;
    margin: 12px 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 200px;
    padding: 20px 5px;
}

.songItem img{
    width: 40px;
    border-radius: 200px;
}

@media (max-width: 800px) {
    .container .main{
        flex-direction: column-reverse;
    }
    
    .container .main .songList{
        padding: 0;
        width: 100vw;
    }
}
